body {
	background: url(img/prlx.gif);
    background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    font-family: 'Courier New', monospace;
	color: white;
	font-size: 1.5em;
}
body * {
  max-width: 200%;
  box-sizing: border-box;
}
#preload {
	display: none;
	height: 0;
	width: 0;
}
#container {
	position: relative;
	width: 75%; 
	padding: 20px;
	background-color: #000000;
	margin: auto;
	border-radius: 4px;
	border: 4px solid white;
	box-shadow: 0 0 30px #000000;
	text-align: center;
}
#inner {
	padding: 20px;
	margin: 50px;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 20px;
	border: 1px solid #fff;
	font-size: 1.5em;}
    #cat{
        position: relative;
        top: 20px;
        left: 293px;
    }
    h4{
        color: #bf720e;
        text-align: left;
        text-size-adjust: 30px;
    }
    ul{
        font-size: 15px;
        text-align: left;
        text-size-adjust: 30px;
    }
    #credits{
        font-size: 13px;
    }
    #near{
        text-align: left;
        font-size: 15px;
    }
    #start{
        position: relative;
        text-align: left;
        left: 10px;
    }
    .tab { margin-left: 40px; }
    #left{
        position: relative;
        float: left;
    }

@media screen and (max-width: 600px) {
    #container
    {
        width: 95%;
    }

    p, b
    {
        font-size: 15px;
    }

    #container img
    {
        width: 130px;
        height: auto;
    }

    #push img
    {
        width: 200px;
        height: auto !important;
    }
}